@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Projet.Extensions;
@{
    var error = TempData["Error"] as string;
}
@if (!error.IsNullOrEmpty())
{
    <h2 class="alert-danger" style="padding:20px">@error</h2>
}

@{
    ViewData["Title"] = "Inscription";
}


<form action="" method="post">
    <span class="login100-form-title p-b-26">
        Créer un compte
    </span>
            <div>
            <center>
                <span>Professionnel</span>
                <input type="checkbox"><br><br>
            </center>
     </div>



    <div class="wrap-input100">
        <input class="input100" type="text" name="firstname" field="prenomcli" required>
        <span class="focus-input100" data-placeholder="Prénom"></span>
    </div>

    <div class="wrap-input100">
        <input class="input100" type="text" name="name" field="nomcli" required>
        <span class="focus-input100" data-placeholder="Nom"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Courriel valide: a@b.c">
        <input class="input100" type="text" name="email" field="courrielcli" required>
        <span class="focus-input100" data-placeholder="Courriel"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Le mot de passe doit contenir au moins 8 caractères dont 1 majuscule, 1 minuscule, 1 chiffre et 1 caractère spécial">
        <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
        </span>
        <input class="input100" type="password" name="password" field="mdpcli" required>
        <span class="focus-input100" data-placeholder="Mot de passe"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Le mot de passe n'est pas le même que le précédent">
        <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
        </span>
        <input class="input100" type="password" name="password2" required> <!--TODO: vérifier qu'il s'agit du même mot de passe-->
        <span class="focus-input100" data-placeholder="Retapez le mot de passe"></span>
    </div>

    <div class="wrap-input100">
        <input class="input100" type="text" name="adress" field="adressecli" required>
        <span class="focus-input100" data-placeholder="Adresse"></span>
    </div>

    <div class="wrap-input100">
        <input class="input100" type="text" name="phone" field="telephonecli" required>
        <span class="focus-input100" data-placeholder="Téléphone"></span>
    </div>

    <div class="wrap-input100">
        <span>Date de naissance</span>
        <input class="input100" type="date" name="dob" placeholder="Date of birth" required>
    </div>



    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
                Créer un compte
            </button>
        </div>
    </div>

    <div class="text-center p-t-50">
        <span class="txt1">
            Vous avez déjà un compte?
        </span>
        <a class="txt2" asp-controller="Home" asp-action="Login">
            Se connecter
        </a>
    </div>
</form>


@section Scripts {
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/js/main.js"></script>
}